progress-circle {
    --progress: 0%;
    
    block-size: 15vmin;
    inline-size: 15vmin;
    min-inline-size: 100px;
    min-block-size: 100px;
    display: grid;
    place-items: center;
    position: relative;
    font-size: var(--lumo-font-size-xxl);
    color: var(--lumo-body-text-color);
}
progress-circle::before {
    --holesize: 65%;
  
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    z-index: -1;
    -webkit-mask-image: radial-gradient(
        transparent var(--holesize),
        black calc(var(--holesize) + 0.5px)
    );
    background: conic-gradient(
        var(--lumo-primary-color),
        var(--lumo-primary-color-50pct),
        var(--lumo-primary-color) var(--progress, 0%),
        var(--lumo-primary-color-10pct) var(--progress, 0%) 100%
    );
  }
